- name: Setup .NET 10 SDK
  uses: actions/setup-dotnet@v4
  with:
    dotnet-version: 10.0.x

- name: Install WASM workload
  run: dotnet workload install wasm-tools-net10

- name: Restore Browser project
  run: dotnet restore avaloniaCrossPlat.Browser/avaloniaCrossPlat.Browser.csproj

- name: Publish Avalonia WASM
  run: |
    dotnet publish avaloniaCrossPlat.Browser/avaloniaCrossPlat.Browser.csproj \
      -c Release \
      -o publish \
      /p:WasmEnableSIMD=false
